services:
  reverse-proxy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./config:/etc/caddy/
      - ./certs:/certs
    networks:
      - docker_service_network

volumes:
  caddy_data:
  caddy_config:

networks:
  docker_service_network:
    name: docker_service_network